<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<div class="box mblog section mt-30">
		<div class="box-content">

			<div class="page-title section">
				<h3>Kiến thức</h3>
			</div>

			<div class="block_box row">
				<div id="blogcarousel" class="blogs-block  blog-carousel  clearfix" data-items="2">
					<div class="blog-block product-layout col-xs-12">
						<div th:each="b: ${items}" class="item">
							<div class="blog-info">
								<div class="image">
									<a th:href="@{|/blog/detail/${b.id}|}">
										<img th:src="@{|/assets/images/blog/${b.image1}|}" class="img-responsive" />
									</a>
								</div>
							</div>
							<div class="caption blog-description">
								<div class="link_info">
									<span class="block-date">Ngày đăng:</span> <a style="font-weight: bold;"
										th:utext="${b.time}"></a>

									<h4 class="">
										<a th:href="@{|/blog/detail/${b.id}|}" th:utext="${b.title}"></a>
									</h4>
									<div class="blog-text">
										<div th:utext="${b.content1}"></div>
									</div>
									<a class="blog-read btn-default" th:href="@{|/blog/detail/${b.id}|}"
										title="Read more">Read
										more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	$(document)
		.ready(
			function () {
				const direc = $('html').attr('dir');

				$('.blog-carousel')
					.each(
						function () {
							if ($(this).closest('#column-left').length == 0
								&& $(this).closest(
									'#column-right').length == 0) {
								$(this)
									.addClass(
										'owl-carousel owl-theme');
								const items = $(this).data(
									'items') || 2;
								const sliderOptions = {
									loop: false,
									nav: true,
									navText: [
										'<i class="fa fa-caret-left"></i>',
										'<i class="fa fa-caret-right"></i>'],
									dots: false,
									items: items,
									responsiveRefreshRate: 200,
									responsive: {
										0: {
											items: 1
										},
										481: {
											items: items
										}
									}
								};
								if (direc == 'rtl')
									sliderOptions['rtl'] = true;
								$(this).owlCarousel(
									sliderOptions);
							}
						});
			});
</script>

</html>